body {
  background-color: white;
}

#pizzaprice #toppingsprice #large #xlarge #top1 #top2 #top3 
#top4 #btnarea #divresult1 #divresult2 #divresult3 #pizza #toppings {
  font-family: courier;
}

h1 {
  color: teal;
  text-align: center;
}